#mainbg {
	background: url(../img/new-rescue-background.jpg)  no-repeat;
	background-attachment:fixed;
	background-size:cover;
	min-height:100vh;
	display:flex;
	align-items:center;
	position:relative;
	
}

.gradbg {
	background:linear-gradient(rgba(0,0,0,0), $yellow 40%) no-repeat bottom right;
	background: -webkit-linear-gradient(rgba(0,0,0,0), $yellow 40%) no-repeat bottom right;
	background: -ms-linear-gradient(rgba(0,0,0,0), $yellow 40%) no-repeat bottom right;
}

.blackgrad {
	background: linear-gradient(rgba(0,0,0,0), #000 50%) no-repeat bottom right;

	background: -webkit-linear-gradient(rgba(0,0,0,0), #000 50%) no-repeat bottom right;

	background: -ms-linear-gradient(rgba(0,0,0,0), #000 50%) no-repeat bottom right;
}

.jumbotron {
	background:transparent;
}

.bottom-pin {
	max-width:60vw;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:1;
	object-fit:cover;
	display:none;
}

.yellow-stroke {
	border:6px solid $yellow85;
	position:relative;
}

.prod-ftr-img-wrap {
	text-align:center;
}

.propodBannerEmbed {
	position:relative;
	z-index:2;
	margin-bottom:45px;
}

.prod-ftr {
	margin-top:50px;
	padding:50px;
	padding-bottom:0px;
	h2 {
		font-size:70px;
		font-weight: 400;
	}
	p {
		font-size:18px;
		font-weight: lighter;
	}
}

.prod-ftr-img {
	position:relative;
	max-width:100%; 
}

.prod-highlight {

	p {
		font-size:16px;

	}
}

.content-main {
	background-color:#fff;
	z-index:2;
	position:relative;
}

.lede {
	border:6px solid $yellow85;
	padding:40px;
	position:relative;
	color:$yellow85; 
	margin-top:50px;
	margin-bottom:50px;
	
	h2 {
		font-size:68px;
		word-spacing:5px;
		line-height:68px;
	}

	h3 {
		color:$yellow85;
		font-size:18px;
		text-transform: uppercase;
		    margin-top: 0px;
    position: relative;
    top: -10px;
	}

	p {
		font-weight: bolder;
		font-size:16px;
	}
}

.card {
	background-color:white;
	padding:25px;
	margin-top:25px;
	text-align:center;
	border:6px solid $yellow85;
}

.btn {
	border: 2px solid $yellow85;
	font-size:18px;
	text-transform:uppercase;
	color:#000;
	font-weight:bolder;
	border-radius:6px;
}

.btn-yellow {
	background-color:$yellow85;
	border:none;
	text-decoration:none;
}

.cta-wrap {
	margin-top:25px;
	padding-bottom:25px;
	font-weight:bolder;
	h3 {
		color:#fff;
		font-size:16px;
		font-weight: bolder;
	}
	p {
		color:$yellow;
		font-size:16px;
	}
}

a {
	color:#008ae1;
	text-decoration:underline;

	&:hover {
		color:lighten(#008ae1, 10%);
	
	}
}

.footer {
	background-color:$yellow;
	margin-top:50px;
	padding-top:15px;
	padding-bottom:15px;
	font-size:11px; 
}