#mainbg {
	background: url(../img/background.png)  no-repeat;
	background-attachment:fixed;
	background-size:cover;
	min-height:90vh;
	position:relative;
	
}

.gradbg {
	background:linear-gradient(rgba(0,0,0,0), $yellow 40%) no-repeat bottom right;
	background: -webkit-linear-gradient(rgba(0,0,0,0), $yellow 40%) no-repeat bottom right;
	background: -ms-linear-gradient(rgba(0,0,0,0), $yellow 40%) no-repeat bottom right;
}

.blackgrad {
	background: linear-gradient(rgba(0,0,0,0), #000 50%) no-repeat bottom right;

	background: -webkit-linear-gradient(rgba(0,0,0,0), #000 50%) no-repeat bottom right;

	background: -ms-linear-gradient(rgba(0,0,0,0), #000 50%) no-repeat bottom right;
}

.jumbotron {
	background:transparent;
}

.bottom-pin {
	max-width:60vw;
	position:absolute;
	bottom:0px;
	right:0px;
	z-index:1;
}

.yellow-stroke {
	border:6px solid $yellow85;
	position:relative;
}

.prod-ftr-img-wrap {
	text-align:center;
}

.propodBannerEmbed {
	position:relative;
	z-index:2;
}

.prod-ftr {
	margin-top:50px;
	padding:50px;
	padding-bottom:0px;
	display:flex;
	align-items:center;
	h2 {
		font-size:70px;
		font-weight: 400;
	}
	p {
		font-size:24px;
		font-weight: lighter;
	}
}

.prod-details {
	
}

.prod-ftr-img {
	position:relative;
	max-width:100%;
}

.prod-highlight {
	position:relative;
	top:-70px;
	p {
		font-size:16px;

	}
}

.lede {
	border:6px solid $yellow85;
	margin-top:5vh;
	padding:40px;
	position:relative;
	color:$yellow85;
	z-index:0;
	h2 {
		font-size:60px;
		word-spacing:5px;
	}

	p {
		font-weight: bolder;
		font-size:16px;
	}
}

.card {
	background-color:white;
	padding:25px;
	margin-top:25px;
	text-align:center;
	border:6px solid $yellow85;
}

.btn {
	border: 2px solid $yellow85;
	font-size:18px;
	text-transform:uppercase;
	color:#000;
	font-weight:bolder;
	border-radius:6px;
}

.cta-wrap {
	margin-top:25px;
	padding-bottom:25px;
	font-weight:bolder;
	h3 {
		color:#fff;
		font-size:16px;
		font-weight: bolder;
	}
	p {
		color:$yellow;
		font-size:16px;
	}
}

a {
	color:inherit;
	text-decoration:underline;

	&:hover {
		color:$yellow85;
	}
}

.footer {
	background-color:$yellow;
	margin-top:50px;
	padding-top:15px;
	padding-bottom:15px;
}