@font-face {
    font-family: "Garden Grown";
    src: url('../fonts/GardenGrown.otf');
	src: url('../fonts/gardengrown-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fontsgardengrown-webfont.woff2') format('woff2'),
	         url('../fonts/gardengrown-webfont.woff') format('woff'),
	         url('../fonts/gardengrown-webfont.ttf') format('truetype');
}

.font-gg {
	font-family:"Garden Grown", cursive;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }