.prod-ftr {
	display:flex;
	align-items:center;
	position: relative; top:-75px;
}

.prod-highlight {
	position:relative;
	top:-70px;
}

.bottom-pin{
	display:block;
}




.mobile-hide {
	display:block;
}