.prod-ftr {
	display:flex;
	align-items:center;
	position: relative; 
}

.prod-highlight {
	position:relative;
	top:-70px;
}

.bottom-pin{
	display:block;
}

.vendorlist {
	 display:flex; align-items: center; justify-content: space-between;
	 flex-wrap:no-wrap;

	 div.available-at {
	 	width:130px;
	 }
	 div {
	 	width:auto;
	 }
}

.pastille-tin {
	display:block; position: absolute; left:50%;     margin-left: -40%; bottom:0px;
}

.mobile-hide {
	display:block;
}

.rescue-tagline {
	float:right; position:relative; top:-10px;

}

.lede {
	margin-top:50px;
}

.lede h2 {
		font-size:100px;
		word-spacing:5px;
		line-height:90px;
}